body {
  width: 640px;
  margin: auto;
  margin-top: 299px;
}

.titlePage {
  margin: 0;
  margin-bottom: 15px;
  font-weight: normal;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.task {
  display: flex;
  margin-bottom: 10px;
}
.blockCheckbox {
  width: 50px;
  height: 50px;
}
.blockCheckbox input {
  margin: 20px;
}
.task div {
  border: 1px solid rgba(238, 135, 135, 0);
}

.task div:first-child {
  margin-right: 5px;
}

.task div p {
  margin: 15px 220px 0 20px;
  font-size: 20px;
}

.solidTask {
  width: 100%;
  color: aliceblue;
}
/* .solidTask p {
  text-decoration-line: line-through;
} */
.fieldColors {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.fieldColors {
  margin-bottom: 550px;
  height: 50px;
  border: 2px solid #ccc;
  border-radius: 3px;
}
.textTask {
  border: 0;
  margin-left: 20px;
  margin-top: 10px;
  width: 300px;
  height: 25px;
  color: rgb(80, 79, 79);
  font-size: 20px;
  outline: none;
}
.blockColor {
  width: 20px;
  height: 20px;
  margin-left: 8px;
}
.blockColor:last-of-type {
  margin-right: 20px;
}
.blockColor:first-child {
  margin-left: 0;
}
.colors {
  display: flex;
  cursor: pointer;
  margin-top: 14px;
}

.borderColor {
  border: 2px solid rgb(253, 209, 10);
  margin-top: -2px;
}

.addTask {
  width: 50px;
  height: 35px;
  border: 0;
  border-radius: 3px;
  background-color: rgb(8, 206, 189);
  outline: none;
  cursor: pointer;
  position: relative;
  top: -7px;
  right: 10px;
}

.addTask:active {
  background: rgb(4, 111, 119);
}
